{% extends "base.html" %}

{% block footer %}
{% if 8 > actions|length %}
<link rel="stylesheet" type="text/css" href="/static/footer.css">
{% endif %}
{% endblock %}

{% block content %}
<p id="greeting" class="table-secondary">Użytkownik: {{ current_user }}</p>
<br>
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link " href="{{ url_for('homepage') }}">Błędy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('homepage_projects') }}">Projekty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('homepage_history') }}">Historia Zmian</a>
    </li>
  </ul>
  <br>
  <hr style="width:100%", size="3", color=black>
  <p>Zmiany:</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rodzaj</th>
        <th scope="col">Czas</th>
        <th scope="col">Błąd</th>
      </tr>
    </thead>
    <tbody>
      {% for act in actions %}
      <tr>
        <th scope="row">{{act.kind}}</th>
        <td>{{act.time}}</td>
        <td>{% for bug in bugs %}
          {% if act.bug_id == bug.id %}
          {{bug.topic}}
          {% endif %}
          {% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}