{% extends "base.html" %}

{% block footer %}
<link rel="stylesheet" type="text/css" href="/static/footer.css">
{% endblock %}

{% block content %}
<form action="" method="POST">
    {{form.hidden_tag()}}
     <div class="form-group">
         <label for="name">Nazwa</label>
         {{ form.name(class_="form-control") }}
     </div>
     <div class="form-group">
         <label for="description">Opis</label>
         {{ form.description(class_="form-control") }}
     </div>
     <button type="submit" class="btn btn-primary" id="submit">Zapisz zmiany</button>
  </form>
{% endblock %}