{% extends "base.html" %}

{% block footer %}
<link rel="stylesheet" type="text/css" href="/static/footer.css">
{% endblock %}

{% block content %}
<br>
<h1><p class="text-center"> O mnie </p></h1>
<br>
<br>
<h3><p class="text-center" id="introduction"> Nazywam się Mateusz Pawłowski i poszukuje zatrudnienia w branży IT. Pracuje na języku python i jestem
 <br>   
zainteresowany zatrudnieniem w tworzeniu aplikacji webowych </p></h3>
    <br>
    <h2><p class="text-center"> Kontakt </p></h2>
    <br>
    <h3><p class="text-center"> Skrzynka mailowa: mm.pawlowski18@gmail.com </p></h3>
    <h3><p class="text-center"> Numer telefonu: 506 960 518</p></h3>
{% endblock %}