{% extends "base.html" %}

{% block footer %}
<link rel="stylesheet" type="text/css" href="/static/footer.css">
{% endblock %}

{% block content %}
<h2><p class="text-center">Witamy na stronie Simple Bugtracker. Jest to zupełnie bezpłatna aplikacja do rejestrowania i zarządzania błędami w oprogramowaniu</p></h2>
<br>
<h2><p class="text-center">Wersja aplikacji dostępna na platformie Heroku jest przeznaczona dla celów prezentacyjnych. Nie zaleca się
  poważnego korzystania z niej gdyż baza danych jest resetowana co 30 minut w związku z ograniczeniami na Heroku.
</p></h2>
<h1><p class="text-center">Nie jesteś zalogowany, czy chcesz się zalogować?</p></h1>
      <br><p class="text-center"><a href="{{ url_for('login') }}" class="btn btn-primary my-2 my-lg-0">Zaloguj się</a></p>
      <br>
      <h1>
        <p class="text-center">Jeśli nie posiadasz konta, możesz je założyć:</p>
      </h1>
      <br>
      <br><p class="text-center"><a href="{{ url_for('sign') }}" class="btn btn-primary my-2 my-lg-0" id="create_account">Utwórz konto</a></p>  
{% endblock %}